#counter-container {
    background-color: #A5B09A;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5em;
}

body {
    max-width: 800px;
    margin: auto;
}

input {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    background-color: #F4F4D5;
    margin: 0 0.25em;
}

div {
    position: relative;
}

#button-container {
    display: flex;
    justify-content: center;
}

#reset-btn-container {
    display: flex;
    justify-content: center;
}

#reset-btn {
    margin: 1em;
}

button {
    margin: 0 1em;
    padding: 0.5em 2em;
    font-size: 1.125rem;
}

.colon {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: -7px;
}

label {
    position: absolute;
    bottom: -20px;
    left: 15px;
}

#hourglass-img {
    width: 300px;
    margin: 4em auto;
    display: block;
}

.hidden {
    display: none;
}